{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h1
    style="display:flex; justify-content:center;font-size:40px; margin: 30px; background-color: #F15AF2; border-radius: 20px; height: 65px; color:rgb(182, 182, 182)">
    All
    Posts by Followed Users</h1>
<div class="container w-75 p-3" id="posts">
    {% for post in all_posts_by_followed_users %}
    <div id="posts-design" class="posts-design">
        {% include "network/posts.html" %}
        <div class="comment-link" data-postID={{ post.id }}>Comments</div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'network/post-comment.js' %}"></script>
{% endblock %}