#create-new-post,
#posts {
  display: flex;
  justify-content: center;
}

body {
  background-color: #8097ff;
  align-items: center;
}

#head-navigation {
  background-color: #2dffe7;
  /* background-color: red; */
}

#create-new-post {
  border-radius: 25px;
}

.comment-link:hover {
  text-decoration: underline;
}

/* set class comment-link position bottom right of parent dive and underline when hover */
.comment-link {
  position: absolute;
  bottom: 20px;
  right: 35px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* position: relative; */
}

#posts-design {
  min-height: 14rem;
  width: 60%;
  margin: 3rem;
  border-radius: 5rem;
  background-color: #b3cdd1;
  background-image: linear-gradient(173deg, #b3cdd1 0%, #9fa4c4 74%);
  justify-content: center;
  position: relative;
  margin-bottom: 10rem;
}

#post-content {
  margin: 30px auto;
  max-width: 75%;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px -2px rgba(173, 173, 173, 0.8);
}

#comment {
  border-radius: 5rem;
  position: absolute;
}

#add-comment {
  width: 100%;
  border-radius: 25px;
  background-color: #9fbfc4;
}

.comment {
  margin-bottom: 1.5rem;
}

/* rounded profile-image */
.profile-image {
  width: 50px;
  height: 50px;
}

/* comment-content style */
.comment-content {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: #54e3a8;
  padding: 1.5rem;
}

.user-profile {
  padding-bottom: 25px;
}

.profile-container {
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #8097ff,
    #c1f7f7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 0px 12px -2px rgba(173, 173, 173, 0.8);
}

.profile-picture {
  /* align center relative to parent element */
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 70px;
  display: block;
}

.body-profile-panel {
  position: relative;
  margin: 0px auto 35px auto;
  border-radius: 10px 10px 10px 10px;
  background: rgb(109, 183, 132);
  background: linear-gradient(
    90deg,
    rgba(109, 183, 132, 1) 0%,
    rgba(153, 224, 247, 1) 26%,
    rgba(153, 179, 247, 1) 57%,
    rgba(216, 153, 247, 1) 82%,
    rgba(247, 153, 175, 1) 100%
  );
  background-size: 200%;
  max-width: 1000px;
  min-height: 300px;
  text-align: center;
}

.follow-buttons {
  /* move buttons to a new line */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.panel-heading {
  margin: 1.5rem;
}

/* custom edit-profile-form */
.edit-profile {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 30px;
}

h3 {
  position: relative;
}

.edit-profile-form {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #95a6a8;
  background-image: linear-gradient(173deg, #b3cdd1 0%, #9fa4c4 74%);
  box-shadow: 0px 0px 12px -2px rgba(173, 173, 173, 0.8);
}

.testing {
  background: blue;
}
